{% extends 'base.html' %}

{% block content %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">About CongoB</h5>
        <p class="card-text">
            What is our purpose?Our purpose is to provide you with a quick, simple and reliable way to sell anything
            your heart desires! Similar to
            the Silk Road (purely a joke, this site is educational purposes only.) If you couldn't tell, our name
            "CongoB'' is a
            play on another extremely popular e-commerce site that also derives its name from a very famous rainforest.
            Our
            name, referring to Congo Basin.</p>
        <a href="/items" class="btn btn-primary">Buy Some Stuff!</a>
    </div>
</div>

{% endblock %}